@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Lora";
  text-align: justify;
  font-size: 18px;
  color: rgb(53, 53, 53);
  margin: 0;
}

h1, h2 {
  font-family: "Montserrat";
}

h1 {
  color: white;
}

h2 {
  font-size: 27px;
  font-weight: 400;
  color: #A0A0A0;
}

p {
  line-height: 28.8px;
}

#banner {
  background-image: url("images/paysage-nuit.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 100px;
  font-size: 27px;
}

.cat {
  font-family: "Lora";
  font-style: italic;
  font-size: 30px;
  color: lightgrey;
}

#background-green {
  font-family: "Lora";
  font-style: italic;
  background-color: #E9FDF0;
  text-decoration: none;
  color: rgb(83, 83, 83);
  font-size: 27px;
}

#background-green:hover {
  background-color: #7DFFB3;
}

.container {
  width: 700px;
  margin: 0 auto;
}
